@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --main-color: #3d1852;
    --text-color: white;
    --bg-color-01: rgb(3, 228, 123);
    --bg-color-02: rgb(241, 18, 18);
}

html {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--bg-color-02);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    border: solid 1px var(--bg-color-02);
}

body {
    background-color: var(--bg-color-01);
    color: var(--text-color)

}

.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav a {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;

    border: solid 1px var(--bg-color-02);
}

.nav a:hover {
    color: var(--main-color);

span {
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 6rem 6rem 2rem ;

    border: solid 1px var(--bg-color-02);
}

